body{
	background-color:black;
}
.en1{
   position: fixed;
    right: 26.5%;
    top: 9%;
    width: 50%;
    height: 50%;
}
.butao{
	text-align: center;
	position: fixed;
    right: 48%;
    top: 80%;
    padding-top: 25px;
    border-radius: 5px;
}
.en2{
   position: fixed;
    right: 26.5%;
    top: 9%;
    width: 50%;
    height: 60%;

}
.pgg{
				width: 15%;
				margin: auto;
				padding-top: 10%;			
}
.card{
				background-color: #696969;
				text-align: center;
				border-radius: 5px;
}
.acess{
				border-radius: 10px;
}
.play{
background-color: white;
border-radius: 10px;
padding: 3px;

}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;

}
#ares{
color: white;

}
.reni{
	text-align: center;
	position: fixed;
    right: 80%;
    top: 80%;
    padding-top: 25px;
    border-radius: 5px;

}
.anjo{
	color: yellow;
	text-align: center;
	position: fixed;
	right: 26.5%;
    top: 9%;
    width: 50%;
    height: 60%;
