body{
	background-color: #F5F5DC;
}
.title{
	background-color: #FFFFF0;
	width: 100%;
	border-radius: 5px;
	box-shadow: 7px 5px 9px rgba(50, 50, 50, 0.77);
}

.A{
	background-color: #FFFFF0;
	width: 100%;
	border-radius: 5px;
	box-shadow: 7px 5px 9px rgba(50, 50, 50, 0.77);
}
.B{
	background-color: #FFFFF0;
	width: 100%;
	border-radius: 5px;
	box-shadow: 7px 5px 9px rgba(50, 50, 50, 0.77);
}
.C{
	background-color: #FFFFF0;
	width: 100%;
	border-radius: 5px;
	box-shadow: 7px 5px 9px rgba(50, 50, 50, 0.77);
}
.D{
	background-color: #FFFFF0;
	width: 100%;
	border-radius: 5px;
	box-shadow: 7px 5px 9px rgba(50, 50, 50, 0.77);
}
.E{
	background-color: #FFFFF0;
	width: 100%;
	border-radius: 5px;
	box-shadow: 7px 5px 9px rgba(50, 50, 50, 0.77);
}
.F{
	background-color: #FFFFF0;
	width: 100%;
	border-radius: 5px;
	box-shadow: 7px 5px 9px rgba(50, 50, 50, 0.77);
}
.G{
	background-color: #FFFFF0;
	width: 100%;
	border-radius: 5px;
	box-shadow: 7px 5px 9px rgba(50, 50, 50, 0.77);
}
.H{
	background-color: #FFFFF0;
	width: 100%;
	border-radius: 5px;
	box-shadow: 7px 5px 9px rgba(50, 50, 50, 0.77);
}
.I{
	background-color: #FFFFF0;
	width: 100%;
	border-radius: 5px;
	box-shadow: 7px 5px 9px rgba(50, 50, 50, 0.77);
}
.J{
	background-color: #FFFFF0;
	width: 100%;
	border-radius: 5px;
	box-shadow: 7px 5px 9px rgba(50, 50, 50, 0.77);
}
.K{
	background-color: #FFFFF0;
	width: 100%;
	border-radius: 5px;
	box-shadow: 7px 5px 9px rgba(50, 50, 50, 0.77);
}
.L{
	background-color: #FFFFF0;
	width: 100%;
	border-radius: 5px;
	box-shadow: 7px 5px 9px rgba(50, 50, 50, 0.77);
}
.M{
	background-color: #FFFFF0;
	width: 100%;
	border-radius: 5px;
	box-shadow: 7px 5px 9px rgba(50, 50, 50, 0.77);
}
.N{
	background-color: #FFFFF0;
	width: 100%;
	border-radius: 5px;
	box-shadow: 7px 5px 9px rgba(50, 50, 50, 0.77);
}
.O{
	background-color: #FFFFF0;
	width: 100%;
	border-radius: 5px;
	box-shadow: 7px 5px 9px rgba(50, 50, 50, 0.77);
}
.P{
	background-color: #FFFFF0;
	width: 100%;
	border-radius: 5px;
	box-shadow: 7px 5px 9px rgba(50, 50, 50, 0.77);
}
.Q{
	background-color: #FFFFF0;
	width: 100%;
	border-radius: 5px;
	box-shadow: 7px 5px 9px rgba(50, 50, 50, 0.77);
}
.R{
	background-color: #FFFFF0;
	width: 100%;
	border-radius: 5px;
	box-shadow: 7px 5px 9px rgba(50, 50, 50, 0.77);
}
.S{
	background-color: #FFFFF0;
	width: 100%;
	border-radius: 5px;
	box-shadow: 7px 5px 9px rgba(50, 50, 50, 0.77);
}
.T{
	background-color: #FFFFF0;
	width: 100%;
	border-radius: 5px;
	box-shadow: 7px 5px 9px rgba(50, 50, 50, 0.77);
}
.U{
	background-color: #FFFFF0;
	width: 100%;
	border-radius: 5px;
	box-shadow: 7px 5px 9px rgba(50, 50, 50, 0.77);
}
.V{
	background-color: #FFFFF0;
	width: 100%;
	border-radius: 5px;
	box-shadow: 7px 5px 9px rgba(50, 50, 50, 0.77);
}
.W{	background-color: #FFFFF0;
	width: 100%;
	border-radius: 5px;
	box-shadow: 7px 5px 9px rgba(50, 50, 50, 0.77);
}
.X{
	background-color: #FFFFF0;
	width: 100%;
	border-radius: 5px;
	box-shadow: 7px 5px 9px rgba(50, 50, 50, 0.77);
}
.Y{
	background-color: #FFFFF0;
	width: 100%;
	border-radius: 5px;
	box-shadow: 7px 5px 9px rgba(50, 50, 50, 0.77);
}
.Z{
	background-color: #FFFFF0;
	width: 100%;
	border-radius: 5px;
	box-shadow: 7px 5px 9px rgba(50, 50, 50, 0.77);
}





